#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(243 244 246);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.circle {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
}

.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.line::before {
    content: '';
    background: #E61515;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.3s;
}

.line:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.scroll {
    padding-top: 60px;
    position: relative;
    text-align: center;
}

.scroll::before {
    animation: scroll 2s infinite;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    content: "";
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(-45deg) translate(0, 0);
    }

    40% {
        opacity: 1;
    }

    80% {
        opacity: 0;
        transform: rotate(-45deg) translate(-20px, 20px);
    }

    100% {
        opacity: 0;
    }
}