#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(243 244 246);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.circle {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
}

.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}