---
import BaseLayout from '../layouts/BaseLayout.astro';
import SectionHeading from '../components/SectionHeading.astro';
import Contact from '../components/Contact.astro';
import Card from '../components/Card.astro';

const pageTitle = "Yuya Akatsu | Web Designer";
---

<BaseLayout>
<section class="mt-24" id="mainVisual">
	<div class=""><img src="/mainVisualImage.jpg" alt="" class="w-1/4 m-auto rounded-full mb-6 filter saturate-0 transition-filter duration-300 ease-in-out hover:saturate-100 hover:scale-105"></div>
	<h1 class="text-4xl lg:text-5xl text-center mb-2 font-extrabold">赤津優弥</h1>
	<p class="text-center">Web Designer</p>

</section>
<section class="max-w-screen-lg mx-auto w-11/12 py-20 md:py-40 mt-16" id="works">
	<SectionHeading title="Works" subTitle="お仕事実績"/>
	<Card />

</section>
<section class="max-w-screen-lg mx-auto w-11/12 py-20 md:py-40" id="service">
	<SectionHeading title="Service" subTitle="業務領域"/>
	<span class="サービス"></span>
		<div class="">
			<div class="py-6">
				<h3 class="text-2xl font-bold pb-2">Webデザイン制作 / フロントエンド開発</h3>
				<span class="text-gray-400 capitalize">web design / frontend Development</span>
			</div>
			<div class="pb-8 leading-loose">
				<div class="pb-2">デザインはFigmaを使用しています。</div>
				<p class="pb-2">
					ノーコードツールSTUDIOを活用して一気通貫した納品も可能ですので、
					最小限のコミュニケーションコストで制作いたします。
				</p>
				<p class="pb-2">Wordpressテーマ開発などコーディングの経験がございます。
				AstroでReactを使用したフロントエンド開発の勉強中です。
				開発者が実装しやすいことを重視し、スケジュールを円滑に進めます。</p>
				<p class="pb-2">
					コミュニケーションツールはzoom、slackの使用が長いですが、
					ご要望に応じて柔軟に対応可能です。
				</p>
				<p class="pb-2">作って終わりではなく、定期的に効果検証を行って課題改善に尽くします。</p>
			</div>
		</div>
		<div class="tag flex gap-4 flex-wrap justify-between">
			<p class="capitalize bg-white px-4 py-1 md:px-8 md:py-2  rounded-full font-semibold">figma</p>
			<p class="capitalize bg-white px-4 py-1 md:px-8 md:py-2 rounded-full font-semibold">studio</p>
			<p class="capitalize bg-white px-4 py-1 md:px-8 md:py-2 rounded-full font-semibold">astro</p>
			<p class=" bg-white px-4 py-1 md:px-8 md:py-2 rounded-full font-semibold">Tailwind.css</p>
			<p class=" bg-white px-4 py-1 md:px-8 md:py-2 rounded-full font-semibold">React.js</p>
			<p class="capitalize bg-white px-4 py-1 md:px-8 md:py-2 rounded-full font-semibold">docker</p>
			<p class="capitalize bg-white px-4 py-1 md:px-8 md:py-2 rounded-full font-semibold">wordpress</p>
		</div>


</section>
<section class=" text-white bg-black py-20 md:py-40" id="profile">
	<div class="max-w-screen-lg mx-auto w-11/12">
		<SectionHeading title="Profile" subTitle="経歴"/>
		<div class=" leading-loose">
			<p class="pb-6">4月11日生まれ / O型 /埼玉県出身/宮城県在住</p>
			<p class="pb-6">Webデザインの専門学校を卒業後、地方暮らしに憧れを抱き、
				<br>
				どうせ住むならと｢山村･豪雪･過疎｣三重苦の地域に移住を決意。</p>
			<p class="pb-6">コンサルティングファームのWebデザイナーとして新卒入社し、
<br>
				築50年の空き家で在宅ワークを開始する。</p>
			<p class="pb-6">冬は最高気温が氷点下の毎日。何度も水道が凍り、
<br>
				寒さで眠れない夜を過ごすも2度の越冬に成功。</p>
			<p class="pb-6">降雪により1年の半分以上愛車のバイクに乗れない事情から、
				<br>
				泣く泣くあたたかい地域を目指して新天地へ。</p>
			<p class="pb-6">フリーのWebデザイナーとして活動を始め今に至る。</p>
			<p class="">趣味は自炊と散歩。</p>
		</div>
	</div>

</section>
<section class="md:max-w-screen-lg mx-auto w-11/12  py-20 md:py-40" id="contact">
	<SectionHeading title="Contact" subTitle="お問い合わせ"/>
	<Contact />
</section>
<style>
	html {
		scroll-behavior: smooth; /* スムーススクロールを有効にする */
	}
</style>
<script>
	// スクロール時にアニメーションを追加するためのJavaScript
	document.querySelectorAll('nav a').forEach(anchor => {
		anchor.addEventListener('click', function(e) {
			e.preventDefault();

			const targetId = this.getAttribute('href');
			const targetElement = document.querySelector(targetId);

			if (targetElement) {
				// スムーススクロールを実行
				targetElement.scrollIntoView({ behavior: 'smooth' });
			}
		});
	});

</script>

</BaseLayout>