<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="container bg-white rounded-lg hover:">
        <a href="https://wiz-eternalcrypt.com/">
            <img class="rounded-t-lg" src="https://wiz-eternalcrypt.com/wp-content/themes/eternal_crypt/assets/img/meta/ogp.jpg" alt="" />

        <div class="p-5">
                <h3 class="mb-2 text-2xl font-bold text-gray-900">NFTゲーム HP</h3>
            <p class="mb-3 text-gray-700 ">
                スマホ向けNFTゲームのHP制作において、ディレクション･Webデザインを担当しました。
                ゲームシステムに倣い、スクロールに合わせてダンジョンを進んでいくようなギミックを施しました。
            </p>
        </div>
    </a>
        <div class="tag flex p-5 pt-0 gap-4 flex-wrap">
            <p class=" bg-gray-200 px-6 py-1 rounded-full  text-gray-500 text-sm tracking-wider">Figma</p>
            <p class=" bg-gray-200 px-6 py-1 rounded-full  text-gray-500 text-sm tracking-wider">Studio</p>
        </div>
    </div>
    <div class="container bg-white rounded-lg">
        <a href="https://ino.wiz-eternalcrypt.com/">
            <img class="rounded-t-lg" src="https://ino.wiz-eternalcrypt.com/wp-content/themes/wizardry-type-B/assets/img/ogp.png" alt="" />

        <div class="p-5">

                <h3 class="mb-2 text-2xl font-bold text-gray-900">NFTゲーム キャンペーンサイト</h3>

            <p class="mb-3 text-gray-700 ">
                スマホ向けNFTゲームのキャンペーン(NFTの一次販売)サイト制作において、ディレクション･Webデザインを担当しました。先行ユーザーを増やすため、ゲームの特徴と早期登録特典をサイト上部に設置することで訴求しました。
            </p>
        </div>
    </a>
        <div class="tag flex p-5 pt-0 gap-4 flex-wrap">
            <p class=" bg-gray-200 px-6 py-1 rounded-full  text-gray-500 text-sm tracking-wider">Figma</p>
            <p class=" bg-gray-200 px-6 py-1 rounded-full  text-gray-500 text-sm tracking-wider">Studio</p>
        </div>
    </div>
    <div class="container bg-white rounded-lg">
        <a href="https://seifukan-gakuin.com/">
            <img class="rounded-t-lg" src="https://seifukan-gakuin.com/wp-content/uploads/2022/04/seifukan-e1657988570182.png" alt="" />

        <div class="p-5">

                <h3 class="mb-2 text-2xl font-bold text-gray-900">通信制高校HP (下層ページ一部)</h3>

            <p class="mb-3 text-gray-700 ">
                兵庫県にある通信制高校のHPリニューアルに携わりました。Figmaを使用した下層ページのデザインとTailwind.cssを用いたコーディングを担当しました。テンプレートデザインで情報が伝わりづらい構造だったため、情報の優先度を整理して要素の強弱や掲載順序を適切に修正しました。
            </p>
        </div>
    </a>
        <div class="tag flex p-5 pt-0 gap-4 flex-wrap">
            <p class=" bg-gray-200 px-6 py-1 rounded-full  text-gray-500 text-sm tracking-wide">Figma</p>
            <p class=" text-gray-500 px-6 py-1 rounded-full  bg-gray-200 text-sm tracking-wide">Tailwind.css</p>
            <p class=" text-gray-500 px-6 py-1 rounded-full  bg-gray-200 text-sm tracking-wide">Wordpress</p>
        </div>
    </div>
    <div class="container bg-white rounded-lg">
        <a href="https://www.narulab.narutech.co.jp/">
            <img class="rounded-t-lg" src="https://www.narulab.narutech.co.jp/wp-content/uploads/2023/12/ogp.png" alt="" />

        <div class="p-5">

                <h3 class="mb-2 text-2xl font-bold text-gray-900">IT企業 オウンドメディア</h3>

            <p class="mb-3 text-gray-700 ">
                地方創生を行っているIT企業のオウンドメディアを制作しました。
企画立ち上げから携わり、Wordpressテーマ開発まで担当し、サイト公開後も解析ツールを使用して検証をつづけました 。
ロゴやアイキャッチの制作も行うなど、幅広く従事しています。
            </p>
        </div>
    </a>
        <div class="tag flex p-5 pt-0 gap-4 flex-wrap">
            <p class=" bg-gray-200 px-6 py-1 rounded-full  text-gray-500 text-sm tracking-wide">Figma</p>
            <p class=" text-gray-500 px-6 py-1 rounded-full  bg-gray-200 text-sm tracking-wide">Wordpress</p>
        </div>
    </div>
    <div class="container bg-white rounded-lg">
        <a href="https://narufes2023.studio.site/">
            <img class="rounded-t-lg" src="../public/ogpNftHp.jpg" alt="" />

        <div class="p-5">

                <h3 class="mb-2 text-2xl font-bold text-gray-900">企業イベント キャンペーンサイト</h3>

            <p class="mb-3 text-gray-700 ">
                地方創生を行っているIT企業の決算報告イベントキャンペーンサイトを制作しました。

Figmaでの制作からSTUDIOでの公開まで一気通貫して担当しています。

イベントの見どころをサイト上部に配置しユーザーの関心を惹き、問い合わせまでスピーディに進めるよう構成しました。
            </p>
        </div>
    </a>
        <div class="tag flex p-5 pt-0 gap-4 flex-wrap">
            <p class=" bg-gray-200 px-6 py-1 rounded-full  text-gray-500 text-sm tracking-wide">Figma</p>
            <p class=" text-gray-500 px-6 py-1 rounded-full  bg-gray-200 text-sm tracking-wide">Studio</p>
        </div>
    </div>
    <div class="container bg-white rounded-lg">
        <a href="https://www.narulab.narutech.co.jp/">
            <img class="rounded-t-lg" src="" alt="" />

        <div class="p-5">

                <h3 class="mb-2 text-2xl font-bold text-gray-900">プログラミングスクール体験会 LP</h3>

            <p class="mb-3 text-gray-700 ">
                地方創生を行っているIT企業のLP制作において、FigmaでのデザインとSTUDIOによる実装を担当しました。

保護者世帯がターゲットだったため、忙しい中でも短時間で情報をキャッチできるよう写真やイラストを使ってイメージしやすくしました。
            </p>
        </div>
    </a>
        <div class="tag flex p-5 pt-0 gap-4 flex-wrap">
            <p class=" bg-gray-200 px-6 py-1 rounded-full  text-gray-500 text-sm tracking-wide">Figma</p>
            <p class=" text-gray-500 px-6 py-1 rounded-full  bg-gray-200 text-sm tracking-wide">Studio</p>
        </div>
    </div>



</div>
