<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="container bg-white rounded-lg hover:rounded-none">
        <a href="https://wiz-eternalcrypt.com/">
            <div class="overflow-hidden"><img class="rounded-t-lg transition-transform duration-300 ease-in-out transform hover:scale-125 " src="/ogpNftHp.jpg" alt="" /></div>

        <div class="p-5">
                <h3 class="mb-2 text-2xl font-bold text-gray-900">NFTゲーム HP</h3>
            <p class="mb-3 text-gray-700 ">
                スマホ向けNFTゲームのHP制作において、ディレクション･Webデザインを担当しました。
                ゲームシステムに倣い、スクロールに合わせてダンジョンを進んでいくようなギミックを施しました。
            </p>
        </div>
    </a>
        <div class="tag flex p-5 pt-0 gap-4 flex-wrap">
            <p class=" bg-gray-200 px-6 py-1 rounded-full  text-gray-500 text-sm tracking-wider">Figma</p>
            <p class=" bg-gray-200 px-6 py-1 rounded-full  text-gray-500 text-sm tracking-wider">Studio</p>
        </div>
    </div>








</div>
