<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="max-w-sm bg-white rounded-lg">
        <a href="https://wiz-eternalcrypt.com/">
            <img class="rounded-t-lg" src="/public/ogpNftHp.jpg" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h3 class="mb-2 text-2xl font-bold text-gray-900">NFTゲーム HP</h3>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                スマホ向けNFTゲームのHP制作において、ディレクション･Webデザインを担当しました。
                ゲームシステムに倣い、スクロールに合わせてダンジョンを進んでいくようなギミックを施しました。
            </p>
        </div>
        <div class="tag flex p-5 pt-0">
            <p class="capitalize bg-black px-6 py-1 rounded-full font-semibold text-white">figma</p>
            <p class="capitalize bg-black px-6 py-1 rounded-full font-semibold text-white">studio</p>
        </div>
    </div>


    <div class="max-w-sm bg-white rounded-lg">
        <a href="https://wiz-eternalcrypt.com/">
            <img class="rounded-t-lg" src="/public/ogpNftHp.jpg" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h3 class="mb-2 text-2xl font-bold text-gray-900">NFTゲーム HP</h3>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                スマホ向けNFTゲームのHP制作において、ディレクション･Webデザインを担当しました。
                ゲームシステムに倣い、スクロールに合わせてダンジョンを進んでいくようなギミックを施しました。
            </p>
        </div>
        <div class="tag flex p-5 pt-0">
            <p class="capitalize bg-black px-6 py-1 rounded-full font-semibold text-white">figma</p>
            <p class="capitalize bg-black px-6 py-1 rounded-full font-semibold text-white">studio</p>
        </div>
    </div>
    <div class="max-w-sm bg-white rounded-lg">
        <a href="https://wiz-eternalcrypt.com/">
            <img class="rounded-t-lg" src="/public/ogpNftHp.jpg" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h3 class="mb-2 text-2xl font-bold text-gray-900">NFTゲーム HP</h3>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                スマホ向けNFTゲームのHP制作において、ディレクション･Webデザインを担当しました。
                ゲームシステムに倣い、スクロールに合わせてダンジョンを進んでいくようなギミックを施しました。
            </p>
        </div>
        <div class="tag flex p-5 pt-0">
            <p class="capitalize bg-black px-6 py-1 rounded-full font-semibold text-white">figma</p>
            <p class="capitalize bg-black px-6 py-1 rounded-full font-semibold text-white">studio</p>
        </div>
    </div>
    <div class="max-w-sm bg-white rounded-lg">
        <a href="https://wiz-eternalcrypt.com/">
            <img class="rounded-t-lg" src="/public/ogpNftHp.jpg" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h3 class="mb-2 text-2xl font-bold text-gray-900">NFTゲーム HP</h3>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                スマホ向けNFTゲームのHP制作において、ディレクション･Webデザインを担当しました。
                ゲームシステムに倣い、スクロールに合わせてダンジョンを進んでいくようなギミックを施しました。
            </p>
        </div>
        <div class="tag flex p-5 pt-0">
            <p class="capitalize bg-black px-6 py-1 rounded-full font-semibold text-white">figma</p>
            <p class="capitalize bg-black px-6 py-1 rounded-full font-semibold text-white">studio</p>
        </div>
    </div>
    <div class="max-w-sm bg-white rounded-lg">
        <a href="https://wiz-eternalcrypt.com/">
            <img class="rounded-t-lg" src="/public/ogpNftHp.jpg" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h3 class="mb-2 text-2xl font-bold text-gray-900">NFTゲーム HP</h3>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                スマホ向けNFTゲームのHP制作において、ディレクション･Webデザインを担当しました。
                ゲームシステムに倣い、スクロールに合わせてダンジョンを進んでいくようなギミックを施しました。
            </p>
        </div>
        <div class="tag flex p-5 pt-0">
            <p class="capitalize bg-black px-6 py-1 rounded-full font-semibold text-white">figma</p>
            <p class="capitalize bg-black px-6 py-1 rounded-full font-semibold text-white">studio</p>
        </div>
    </div>
    <div class="max-w-sm bg-white rounded-lg">
        <a href="https://wiz-eternalcrypt.com/">
            <img class="rounded-t-lg" src="/public/ogpNftHp.jpg" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h3 class="mb-2 text-2xl font-bold text-gray-900">NFTゲーム HP</h3>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                スマホ向けNFTゲームのHP制作において、ディレクション･Webデザインを担当しました。
                ゲームシステムに倣い、スクロールに合わせてダンジョンを進んでいくようなギミックを施しました。
            </p>
        </div>
        <div class="tag flex p-5 pt-0">
            <p class="capitalize bg-black px-6 py-1 rounded-full font-semibold text-white">figma</p>
            <p class="capitalize bg-black px-6 py-1 rounded-full font-semibold text-white">studio</p>
        </div>
    </div>


</div>
