---
// src/components/Copyright.astro
const currentYear = new Date().getFullYear();
---

<footer class="bg-black text-white py-4">
    <div class="container mx-auto px-4">
        <div class="flex justify-center items-center">
            <p class="text-sm">
                &copy; {currentYear} Yuya Akatsu.
            </p>
        </div>
    </div>
</footer>