---
// src/components/Copyright.astro
const currentYear = new Date().getFullYear();
---

<footer class="bg-gray-400 text-white py-4 lexend">
    <div class="container mx-auto px-4">
        <div class="flex justify-center items-center">
            <p class="text-sm">
                &copy; {currentYear} Yuya Akatsu.
            </p>
        </div>
    </div>
</footer>
<style>
        @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.lexend {
    font-family: "Lexend", sans-serif;
    font-style: normal;
}
</style>