---
---
  <header class="bg-white mb-10">
    <div class="max-w-5xl container mx-auto px-4 py-4 flex justify-between items-center">
      <!-- ロゴ -->
      <div class="text-xl font-bold text-gray-800">
        Yuya Akatsu
      </div>

      <!-- ナビゲーション -->
      <nav class="space-x-4 hidden md:block">
        <a href="#home" class="capitalize">home</a>
        <a href="#works" class="capitalize">works</a>
        <a href="#service" class="capitalize">service</a>
        <a href="#profile" class="capitalize">profile</a>
      </nav>

      <!-- Call to Action ボタン -->
      <div>
        <a href="#contact" class="px-4 py-2 bg-black text-white rounded">Contact</a>
      </div>
    </div>
  </header>
