---
---
<div class="nav-links">
    <a href="#home">home</a>
    <a href="#works">works</a>
    <a href="#service">service</a>
    <a href="#profile">profile</a>
    <a href="#contact">contact</a>
  </div>