---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<div class="border-b-4  pb-4 mb-8 ">

    <h2 class="lexend text-4xl capitalize tracking-wide mb-2">
        {title}
    </h2>
</div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.lexend {
    font-family: "Lexend", sans-serif;
    font-style: normal;
}
</style>
