---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { pageTitle } = Astro.props;

---
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/jpg" href="/public/mainVisualImage.jpg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Yuya Akatsu | Web Designer</title>

  </head>
  <body class="bg-gray-100 leading-relaxed">
    <Header />
    <div id="loader">
      <div class="circle"></div>
    </div>



    <main>
    <slot />
  </main>
    <Footer />
<style>
      #loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(243 244 246);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
      }
      .circle {
        width: 50px;
        height: 50px;
        background: #fff;
        border-radius: 50%;
      }
      #mainVisual {
    text-align: center;
    padding: 50px 20px;
    opacity: 0; /* 初期状態は透明 */
    transform: translateY(20px); /* 初期状態は少し下に移動 */
  }
    </style>
    <script src="/src/scripts/script.ts" type="module"></script>

  </body>

</html>
